<html>
    <body>
        <form method='POST' action='Sche'>
            <label>Sche</label>
            <div>user<input style='width=200px' name='user'></div>
            <p style="display: inline;">요일</p></div><select name='day'>
                <option value="0">일</option>
                <option value="1" selected>월</option>
                <option value="2">화</option>
                <option value="3">수</option>
                <option value="4">목</option>
                <option value="5">금</option>
                <option value="6">토</option>
            </select >
            <div>time_start<input style='width=200px' name='start' type='time'></div>
            <div>time_end<input style='width=200px' name='end' type='time'></div>
            <input type="radio" name="seme" value='0' checked><label>1학기</label>
            <input type="radio" name="seme" value='1'><label>2학기</label>
            <div>content<input style='width=200px' name='content' ></div>
            <input type="checkbox" name="share"><label>공유 가능 여부</label><br />
            <button type='submit'>Sche</button>
    </body>
</html>
